extends layout

block append head
  title Home page
  
block content

  h1 Welcome, #{user.username}. Your email: #{user.email}.

  form#avatar-form(action="/avatar" enctype="multipart/form-data" method="post" style="margin-bottom: 15px;" )
    input#avatar(type="file" name="avatar")
    button.btn.btn-primary(type="submit") Upload photo

  if user.image
    img(src=user.image width=200)

  p.greeting You are logged in.

  form(action="/logout" method="post")
    button.btn.btn-primary(type="submit") Logout

  a(href='/chat') Go to chat
    