extends layout.pug

block append head
  title Login page

block content
  form#loginForm(action="/login" method="post")
    h1 Please sign in

    .form-group
      label(for="email") Email
      input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
    .form-group
      label(for="password") Password
      input.form-control(type="password" id="password" name="password" required)

    button.btn.btn-primary.btn-block(type="submit") Login

    a(href='/login/google' class="btn btn-primary btn-block") Login via google

  h4.mt-5 Still not registered?  
    a(href='/registration') Registration