extends layout.pug

block append head
  title Registration page

block content
  form#loginForm(action="/registration" method="post")
    h1 Send us your email
 
    .form-group
      label(for="email") Email
      input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)

    button.btn.btn-primary.btn-block(type="submit") Send